<div class="image">
  <img alt="Oatmeal" src="{{product.image}}">
  <div *ngIf="product.limit < 1" class="out-of-stock">
    <p> out of stock! </p>
  </div>
</div>
<div class="content">
  <div class="header">
    <a [routerLink]="['/products',product.name]" [title]="product.name + ' details'"
       class="product-name"> {{product.name}}
    </a>
  </div>
  <div class="description">
    {{product.description}}
  </div>
</div>
<div class="extra content">
 <span class="right floated">
      <button (click)="addProduct(product)"
              *ngIf=" !(exist$ | async); else removeFromCartButton"
              [disabled]="product.limit === 0"
              class="ui primary button add">
        Add to cart
      </button>
   <ng-template #removeFromCartButton>
      <button (click)="removeProduct(product.name)" class="ui primary button"
              id="remove">
        remove from cart
      </button>
     </ng-template>
  </span>
  <span>
      <div>
        <i class="shekel sign icon"></i> {{product.price}}
      </div>
      <div>
        <i class="yellow star icon"></i>
        <i class="yellow star icon"></i>
        <i class="yellow star icon"></i>
        <i class="star icon"></i>
        <i class="star icon"></i>
      </div>
  </span>
</div>
